.dropdown-menu {
    column-count: 4;
    column-gap: 4em;
    max-width: 800px;
    margin: auto;
    text-align: center; 
    transform: translateX(-50%); 
    left: -50%;
}

.dropdown-item {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.dropdown button{
    border: none;
}
.dropdown button:hover{
    background-color: transparent;
}